{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="signup-login-container">
    <div class="signup-login-form-section">
        <!-- Header -->
        <h1>Sign In</h1>
        <!-- Link to Signup Page -->
        <p class="signup-login-subtitle">
            Not registered? <a href="{{ signup_url }}">Create an account</a>
        </p>
        <!-- Keep if social account will be implemented in the future -->
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_login' as login_url %}
            <!-- Login Form -->
            <form method="post" action="{{ login_url }}">
                {% csrf_token %}
                {% for field in form %}
                <!-- Keep checkbox on right side -->
                    {% if field.field.widget.input_type == "checkbox" %}
                        <label class="checkbox-label">
                            {{ field.label }} {{ field }}
                        </label>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    {% endif %}
                {% endfor %}
                {{ redirect_field }}
                <!-- Login Button -->
                <button type="submit" class="signup-login-btn">Sign In</button>
            </form>
        {% endif %}
    </div>
    <div class="signup-login-image-section">
        <!-- Robot Image -->
        <img src="{% static 'images/robot.png' %}" alt="Picture Of Robot" />
    </div>
</div>
{% endblock content %}
