{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!--Intro page welcoming the user-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-5 d-flex flex-column ps-4">
            <img class="border pt-1" alt="robot" src="{% static 'images/robot.png' %}">
            <div class="d-flex flex-column align-items-center m-2">
                {% if user.is_authenticated %}
                <p class="intro-paragraph">Meet Tech Buddy your Family AI Assistant.</p>
                <a href="{% url 'aichat' %}" class="btn btn-success intro-button">Talk to Buddy</a>
                {% else %}
                <p class="intro-paragraph">Welcome to Tech Buddy, your trusted hub for helping loved ones navigate the
                    digital world with ease. To get started, please log in to your account—or, if you're new here, take
                    a moment to register. Creating an account gives you access to your helpful AI, ready to assist you
                    in solving real problems and making technology simpler for everyone in your household.</p>
                <a href="{% url 'account_signup' %}" class="btn btn-success intro-button m-2">Sign Up</a>
                <a href="{% url 'account_login' %}" class="btn btn-success intro-button">Login</a>
                {% endif %}
            </div>
        </div>
        <!--Common Questions table informing the user what questions are commons-->
        <div class="d-none d-xl-block col-xl-5 overflow-hidden">
            <h2 class="common-questions-header">Common Questions</h2>
            <table class="common-questions-table styled-table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>How do I reset my Wifi?</td>
                        <td>Unplug your router for 30 seconds to restart it, or hold the reset button for 10–30 seconds
                            to erase all
                            settings and fully reset it..</td>
                    </tr>
                    <tr>
                        <td>How do I download Facebook?</td>
                        <td>Download Facebook by searching "Facebook" in the App Store (iOS) or Google Play Store
                            (Android) and
                            tapping Install.</td>
                    </tr>
                    <tr>
                        <td>How do I reset my TV?</td>
                        <td>To reset your TV, go to Settings > System > Reset (or Factory Reset) and follow the
                            on-screen
                            instructions.</td>
                    </tr>

                    <tr>
                        <td>How do I check if an Email is Spam?</td>
                        <td>You can identify a spam email by checking for suspicious sender addresses, poor grammar,
                            urgent or
                            too-good-to-be-true messages, and unexpected attachments or links..</td>
                    </tr>

                    <tr>
                        <td>What does Malware do?</td>
                        <td>Malware is malicious software designed to damage, disrupt, or gain unauthorized access to
                            computer
                            systems, networks, or data.</td>
                    </tr>

                    <tr>
                        <td>Should I be worried about my online privacy?</td>
                        <td>You should be concerned about your online privacy because your personal information can be
                            tracked,
                            shared, or exploited without your consent.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}